*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Roboto Slab, Effra Bold;
}
header{
height:40px ;
background-color: azure;
box-shadow: 0px 1px 1px 0px rgba(133, 127, 127, 0.733);
}

.header-nature{
    margin-top:10px;
}
.hidrat img{
    position: absolute;
}
.cosmetico{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.cosmetico h1{
    font-style: Roboto;
    font-size:60px ;
    text-align: center;
    margin-bottom:25px ;
  
    color:#484B57;
}
.cosmetico p{
text-align: center;

font-size:20px;
color:white;
margin-bottom:30px ;
background-color:#1ab122;

}
.cosmetico svg{
    margin-top: 15%;
}
.doctor-h{
    margin-top:8%;
}
.d-text h1{
text-align:center;
color:#484B57;
font-size:50px ;
}
.d-text p{
/* font-style:Effra Bold; */
text-align:center;
color:#FF594E;
font-size:25px ;
}
.doutor{
align-items: center;
display: flex;
}
.doutor img{

}
.doutor p{
    font-style: Roboto;
    text-align: left ;
    font-size:23px ;
}
.promocional{
    background-color:  #3B4157;
 
  
}

.oferta-h img{
    
position: absolute;
}
.oferta-promo h1{
position:relative;
margin-left:19px;
color: white;
}
.oferta-promo p{
    color:white;
}