*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Roboto Slab, Effra Bold;
}
 @font-face {
        font-family: 'Effra' ;
        src: url('Effra_Std_Bd.ttf') format(truetype), url('Effra_Std_He.ttf')format(truetype)  
        url('Effra_Std_Lt.ttf') format(truetype), url('Effra_Std_Rg.ttf') format(truetype);
    
}
header{
height:40px ;
background-color: azure;
box-shadow: 0px 1px 1px 0px rgba(133, 127, 127, 0.733);
}

.header-nature{
    margin-top:10px;
}
.hidrat img{
    position: absolute;
}
.bi-bi-arrow-down{
animation: jumping 1s linear infinite;
cursor: pointer;
}
@keyframes jumping {
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{ transform: translatey(-15px);}
    
}
.cosmetico{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.cosmetico h1{
    font-style: Roboto;
    font-size:60px ;
    text-align: center;
    margin-bottom:25px ;
    padding-top: 5%;
    color:#484B57;
}
.cosmetico p{
text-align: center;

font-size:20px;
color:white;
margin-bottom:25px ;
background-color:#1ab122;

}
.bi-bi-arrow-down{
    margin-top: 3%;
}
.doctor-h{
    margin-top:8%;
}
.d-text h1{
text-align:center;
color:#484B57;
font-size:50px ;
}
.d-text p{
text-align:center;
color:#FF594E;
font-size:25px ;
}
.doutor{
align-items: center;
display: flex;
}
.doutor p{
    font-style: Roboto;
    text-align: left ;
    font-size:23px ;
}
.oferta-h{
    display: flex;
background-color:  #3B4157;
  width:100% ;
  height:235px ;
  justify-content: space-around;
 align-items: center;
}
.oferta-h img{
   position: absolute;
 
  ;
}
.oferta-promo h2{
position: relative;
margin-left:33%;
color: white;
margin-top:80px;
}
.oferta-promo p{
    color:white;
    font-size: 35px;

}
.pacotepromo{
    background-color:  #3B4157;
    height:580px;
}


.produto-promo{
    display:flex;
    justify-content: center;
align-items: center;
padding-top: 3%;
}
.produto-medicinal{
    background-color:#F5F5F5;
    height:450px;
    width:375px ;
    border-radius: 5px;  
}
.produto-medicinal h2{
    margin-top: 8%;
    padding-top: 2%;
    margin-left:40px;
    margin-bottom: 17px;
    text-align: center;
    background-color: #484b57e5;
    width: 300px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    background-position:top 10%;
    color: #F5F5F5;
    
}
.produto-medicinal button{
   color: #484B57;
   border: none;
   width:80px ;
   height:80px ;
   background-color: #9292923d;
   font-size: 30px;
   cursor: pointer;
   border-radius: 5px;
   font-weight: bold;
   margin-top: 5%;

}
.produto-medicinal button:hover {
    background-color:#04a10ccc;
    color: #F5F5F5;
}

.produto-medicinal button p{
    color: #484b57e5;
    font-size:22px ;
    font-weight: 100;
    margin-bottom: 5%;
}
.produto-medicinal button p:hover{
    color: #F5F5F5;
}
.produto-medicinal h3{
    margin-top:10px ;
    text-align: center;
    font-size:20px;
}
#a1{
    margin-left: 17%;
}
.produto-medicinal h4{
    font-weight: normal;
    color:#04a10ccc;
    text-align: center;
    font-size:20px ;
}
.produto-medicinal h5 {
    text-align: center;
    font-size:20px;
    margin-top:5%;
}
.a-vista{
    text-align: center;
    font-size:20px ;
    color:#04a10ccc;
}
.produto-medicinal h6 {
    text-align: center;
    font-size:20px ;
    font-weight: bold;
    margin-top:40px ;
    margin-left: 17%;
    background-color:#ff5a4eec ;
    border-radius: 30px;
    width:250px ;
    height:40px ;
    padding-top: 2%;
    color: #F5F5F5;
    cursor: pointer;
}
.produto-medicinal h6:hover{
    background-color:#fd4c3f ;
}
#marcador{
    cursor: pointer;
}
#marcadorA{
    cursor: pointer;
}
#marcadorB{
    cursor: pointer;
}
#marcadorC{
    cursor: pointer;
}
#marcadorgold{
    cursor: pointer;
}
.promocao-10{
    transform: translate(-94px, -225px);
}
.assinante{
background-color:#F5F5F5;
height:400px;
width:440px ;
border-radius: 5px;
box-shadow: inset 15px -0px 30px -15px rgba(51, 51, 51, 0.705);

}
.assinante h2{
    color: #F5F5F5;
    margin-top: 6%;
    margin-left:18px;
  width:400px ;
  height:100px ;
    text-align: center;
background-color: #484b57e5;
border-radius: 5px;
padding-top:8px;
}
.assinante p{
    margin-left: 30px;
    text-align: justify;
   color: #484B57;
   font-size:15px ;
}
.marcador-assinante{
 margin-top: 9%;
 background-color: #9292923d;
 width: 370px;
 margin-left: 8%;
}
.marcador-assinante p{
    font-size: 18px;
    text-align:center;
    padding-top:5px;
    transform: translateX(-20px);
} 
.garantia h1{
    margin-top: 10%;
    text-align: center;
}
.garantia p{
    text-align: center;
    color: #FF594E;
    font-size: 15px;
    margin-bottom: 20%;
}
.selo-garantia{
display: flex;
align-items: center;
background-color: #ffffff00;
border-radius: 25px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 10%;
}
.selo-garantia p{
    padding-top: 2%;
font-size:15px ;
text-align: left;
font-style: Roboto;
margin-left: 15px;
}
.resultado-titulo h1{
    text-align: center;
    margin: 2%;
}
.resultado-titulo p{
    text-align: center;
    color: #FF594E;
    margin-bottom:15px;
}
.resultado-img{
    display: flex;
    justify-content: space-between;
}
.resultado-two{
    display: flex;
    justify-content: space-between;
}
.resultado-text p{
    text-align:left;
    font-size:15px ;
    margin-bottom: 10%;
}
.duvida-inicial{
    background-color:  #3B4157;
    height:795px; 
}
.duvida-inicial h1{
    text-align: center;
    color: #F5F5F5;
    padding-top: 5%;
    padding-bottom:3%;
}
.bi-bi-plus{
color: #FF594E;
}
.duvida-inicial hr{
    color: #F5F5F5;
    height:2px;
    border-width:0;
    background-color:#F5F5F5;  
}
.du-vi-da{
    color: #F5F5F5;
    cursor:pointer;
    text-decoration: none;
}
.du-vi-da:hover{
color: #F5F5F5;
}
.duvida-inicial p{
    color: #F5F5F5;
}
.duvida-a p{
 display: block;
}
.duvida-a p{
    margin-top: 2%;
    display: none;
}
.duvida-b p{
    display: block;
}
.duvida-b p{
    margin-top: 2%;
    display:none;
}
.duvida-c p{
    display: block;
}
.duvida-c p{
    margin-top: 2%;
    display: none;
 }
 .duvida-d p{
    display: block;
}
 .duvida-d p{
    margin-top: 2%;
   display: none;
}
.duvida-e p{
    display: block;
 }
.duvida-e p{
    margin-top: 2%;
    display: none;
}  
.duvida-f p{
    display: block;
 } 
 .duvida-f p{
    margin-top: 2%;
    display: none;
}
.duvida-g p{
    display: block;
}
.duvida-g p{
    margin-top: 2%;
    display: none;
}
.duvida-h p{
    display: block;
}
.duvida-h p{
    margin-top: 2%;
    display: none;
}
.suplemento-a h1{
    margin-top: 5%;
    text-align: center;
}
.suplemento-a p{
    text-align: center;
    font-size:23px ;
    color: #FF594E;
    font-family:roboto Slab ;
}
.suplemento-atributo ul{
   color: #1ab122;
}
.suplemento-atributo p{
    color:#484B57;
}
.suplemento-anti{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
.suplemento-assinante{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.suplemento-promo{
    background-color:#f5f5f500;
    height:450px;
    width:375px ;
    border-radius: 5px;  
    box-shadow: -3px 8px 16px 4px rgba(171,171,171,1);
}
.suplemento-promo h2{
    margin-top: 8%;
    padding-top: 2%;
    margin-left:40px;
    margin-bottom: 17px;
    text-align: center;
    background-color: #484b57e5;
    width: 300px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    background-position:top 10%;
    color: #F5F5F5;
    
}
.suplemento-promo button{
   color: #484B57;
   border: none;
   width:80px ;
   height:80px ;
   background-color: #9292923d;
   font-size: 30px;
   cursor: pointer;
   border-radius: 5px;
   font-weight: bold;
   margin-top: 5%;

}
.suplemento-promo button:hover {
    background-color:#04a10ccc;
    color: #F5F5F5;
}

.suplemento-promo button p{
    color: #484b57e5;
    font-size:22px ;
    font-weight: 100;
    margin-bottom: 5%;
}
.suplemento-promo button p:hover{
    color: #F5F5F5;
}
.suplemento-promo h3{
    margin-top:10px ;
    text-align: center;
    font-size:20px;
}
#aa{
    margin-left: 17%;
}
.suplemento-promo h4{
    font-weight: normal;
    color:#04a10ccc;
    text-align: center;
    font-size:20px ;
}
.suplemento-promo h5 {
    text-align: center;
    font-size:20px;
    margin-top:5%;
}
.suplemento-avista{
    text-align: center;
    font-size:20px ;
    color:#04a10ccc;
}
.suplemento-promo h6 {
    text-align: center;
    font-size:20px ;
    font-weight: bold;
    margin-top:40px ;
    margin-left: 17%;
    background-color:#ff5a4ed5 ;
    border-radius: 30px;
    width:250px ;
    height:40px ;
    padding-top: 2%;
    color: #F5F5F5;
    cursor:pointer;
    
}
.suplemento-promo h6:hover{
    background-color:#FF594E ;
}
.assinante-desconto img{
    transform: translate(345px, -458px);
}
.assinante-down{
    background-color:#f5f5f531;
    height:400px;
    width:440px ;
    border-radius: 5px;
    box-shadow: 4px 5px 8px 0px rgba(138,138,138,1);
    }
    .assinante-down h2{
        color: #F5F5F5;
        margin-top: 6%;
        margin-left:18px;
      width:400px ;
      height:100px ;
        text-align: center;
    background-color: #484b57e5;
    border-radius: 5px;
    padding-top:8px;
    }
    .assinante-down p{
        margin-left: 30px;
        text-align: justify;
       color: #484B57;
       font-size:15px ;
    }
    .marcador-assinante{
     margin-top: 9%;
     background-color: #9292923d;
     width: 370px;
     margin-left: 8%;
    }
    .marcador-assinante p{
        font-size: 18px;
        text-align:center;
        padding-top:5px;
        transform: translateX(-20px);
    } 
    footer{
        background-color: #f5f5f5c2;
    }
    