*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Roboto Slab, Effra Bold;
}
header{
height:40px ;
background-color: azure;
box-shadow: 0px 1px 1px 0px rgba(133, 127, 127, 0.733);
}

.header-nature{
    margin-top:10px;
}
.hidrat img{
    position: absolute;
}
.nature-c svg{
animation: jumping 1s linear infinite;
cursor: pointer;
}
@keyframes jumping {
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{ transform: translatey(-15px);}
    
}
.cosmetico{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.cosmetico h1{
    font-style: Roboto;
    font-size:60px ;
    text-align: center;
    margin-bottom:25px ;
  
    color:#484B57;
}
.cosmetico p{
text-align: center;

font-size:20px;
color:white;
margin-bottom:30px ;
background-color:#1ab122;

}
.cosmetico svg{
    margin-top: 15%;
}
.doctor-h{
    margin-top:8%;
}
.d-text h1{
text-align:center;
color:#484B57;
font-size:50px ;
}
.d-text p{
/* font-style:Effra Bold; */
text-align:center;
color:#FF594E;
font-size:25px ;
}
.doutor{
align-items: center;
display: flex;
}
.doutor p{
    font-style: Roboto;
    text-align: left ;
    font-size:23px ;
}
.oferta-h{
    display: flex;
background-color:  #3B4157;
  width:100% ;
  height:200px ;
  justify-content: space-around;
 align-items: center;
}
.oferta-h img{
   position: absolute;
 
  ;
}
.oferta-promo h2{
position: relative;
margin-left:25%;
color: white;
margin-top:69px;
}
.oferta-promo p{
    color:white;
    font-size: 25px;

}
.pacotepromo{
    background-color:  #3B4157;
    height:580px;
}


.produto-promo{
    display:flex;
    justify-content: center;
align-items: center;
}
.produto-medicinal{
    background-color:#F5F5F5;
    height:480px;
    width:430px ;
    border-radius: 5px;
    
    
}
.produto-medicinal h2{
    margin-top: 8%;
    margin-bottom: 17px;
    text-align: center;
    background-color: #484b57e5;
    margin-left: 10%;
    margin-right: 10%;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    background-position:top 10%;
    color: #F5F5F5;
    
}
.produto-medicinal button{
   color: #484B57;
   border: none;
   width:80px ;
   height:80px ;
   background-color: #9292923d;
   font-size: 30px;
   cursor: pointer;
   border-radius: 5px;
   font-weight: bold;

}
.produto-medicinal button:hover {
    background-color:#04a10ccc;
    color: #F5F5F5;
}

.produto-medicinal button p{
    color: #484b57e5;
    font-size:22px ;
    font-weight: 100;
}
.produto-medicinal button p:hover{
    color: #F5F5F5;
}
.produto-medicinal h3{
    margin-top:10px ;
    text-align: center;
    font-size:20px;
}
#a1{
    margin-left: 22%;
}
.produto-medicinal h4{
    font-weight: normal;
    color:#04a10ccc;
    text-align: center;
    font-size:20px ;
}
.produto-medicinal h5 {
    text-align: center;
    font-size:20px;
    margin-top:5%;
}
.a-vista{
    text-align: center;
    font-size:20px ;
    color:#04a10ccc;
}
.produto-medicinal h6 {
    text-align: center;
}
.assinante{
background-color:#F5F5F5;
height:450px;
width:570px ;
border-radius: 5px;
box-shadow: inset 15px -0px 30px -15px rgba(51, 51, 51, 0.705);

}
.assinante h2{
    color: #F5F5F5;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
background-color: #484b57e5;
border-radius: 5px;
}
.assinante p{
    margin-left: 10%;
    margin-bottom: 2%;
   color: #484B57;
   font-size:20px ;
   
}
.text-p{
   text-align: center;
}
.promocao-10{
    
}

