*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Roboto Slab, Effra Bold;
}
header{
height:40px ;
background-color: azure;
box-shadow: 0px 1px 1px 0px rgba(133, 127, 127, 0.733);
}

.header-nature{
    margin-top:10px;
}
.hidrat img{
    position: absolute;
}
.cosmetico{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    
}
.cosmetico h1{
    font-style: Roboto;
    font-size:60px ;
    text-align: center;
    margin-bottom:25px ;
  
    color:#484B57;
}
.cosmetico p{
text-align: center;

font-size:20px;
color:white;
margin-bottom:30px ;
background-color:#1ab122;

}
.cosmetico svg{
    margin-top: 15%;
}
.doctor-h{
    margin-top:8%;
}
.d-text h1{
text-align:center;
color:#484B57;
font-size:50px ;
}
.d-text p{
/* font-style:Effra Bold; */
text-align:center;
color:#FF594E;
font-size:25px ;
}
.doutor{
align-items: center;
display: flex;
}
.doutor p{
    font-style: Roboto;
    text-align: left ;
    font-size:23px ;
}
.promocional{
background-color:  #3B4157;
  width:100% ;
  height:800px ;
  margin-bottom: 5%;
}
.oferta-h img{
    position: absolute;
  ;
}
.oferta-promo h1{
   position: relative;
margin-left:19px;
color: white;

}
.oferta-promo p{
    color:white;
    
}
.promo-produtos h2 {
    background-color:#484B57 ;
}
.produto-promo{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.produto-medicinal{
    background-color:#F5F5F5;
    height:380px;
    width:430px ;
    border-radius: 5px; 
}
.produto-medicinal button{
   color: #484B57;
   border: none;
   padding:10px 20px 1px 20px ;
   margin-left: 10%;
}
.produto-medicinal button:hover {
    background-color:#04a10ccc;
}
.produto-medicinal h2{
    text-align: center;

}
.produto-medicinal {}
.assinante{
background-color:#F5F5F5;
/* height:350px;
width:570px ; */
border-radius: 5px;

}
.assinante h2{
    color: #F5F5F5;
    margin-top: 6%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
background-color: #484b57e5;
border-radius: 5px;
}
.assinante p{
    margin-left: 15%;
    margin-bottom: 2%;
   color: #484B57;
   font-size:20px ;
   text-align: initial;
}
.text-p{
   text-align: center;
}

